<!DOCTYPE html>
<html>
  <head>
    <style>
      body{
  background: linear-gradient(#ACA7F8  ,#A7F3F8);
}

h1 {
  text-align: center;
  font-family: chalkboard;
  font-size: 50px;
  background-color:#191FC2;
  color: #ACA7F8;
}
h2 {
  text-align: center;
 color: brown;
}
body {
  text-align: center;
}
    </style>
  </head>
  <h1>Logans Favorites</h1>
<body1>
  <b><font size="4.5">Logan's favourite book is</b></font> Wonder by R. J. Palacio.<br><br>
</body1>

<body2>
  <b><font size="4.5">Logan's favourite place is</b></font> the beach.
</body2><br><br>

<body3>
  <b><font size="4.5">Logan's favourite colour is </b></font>blue</font>
</body3><br><br>

<body4>
  <b><font size="4.5">Logan's favourite singer is</b><br></font> <a href="http://tinypic.com?ref=ad1btf" target="_blank"><img src="http://i67.tinypic.com/ad1btf.jpg" border="0" alt="Image and video hosting by TinyPic"height="200" width="200"></a>
</body4><br><br>
</html>