<!DOCTYPE html>
<html>
  <head>
    <style>
      body{
  background: linear-gradient(#ACA7F8  ,#A7F3F8);
}

h1 {
  text-align: center;
  font-family: chalkboard;
  font-size: 90px;
  background-color:#191FC2;
  color: #ACA7F8;
}
h2 {
  text-align: center;
 color: brown;
}
body {
  text-align: center;
}
    </style>
  </head>
  <h1>
<b><font size="17">My Hobbies</b></font>
</h1>
  <ul>
    <ls>To go to the beach</ls><br>
    <ls>To play volleybal</ls><br>
    <ls>To play basketball</ls><br>
    <ls>To travel</ls><br><br>
  </ul>
</font>
</html>