<!DOCTYPE html> 
<head>
  <style>
    body{
  background: linear-gradient(#ACA7F8  ,#A7F3F8);
}

h1 {
  text-align: center;
  font-family: chalkboard;
  font-size: 50px;
  background-color:#191FC2;
  color: #ACA7F8;
}
h2 {
  text-align: center;
 color: brown;
}
body {
  text-align: center;
}
  </style>
</head>
<h1>
  All about Logan 
 
</h1>
<br><br><br><br><br><br><br>
<a href="http://tinypic.com?ref=2ivlldu" target="_blank"><img src="http://i63.tinypic.com/2ivlldu.jpg" border="17" alt="Image and video hosting by TinyPic"height="640" width="700"></a><br>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>


